@model Library.Models.Book

@{
    ViewBag.Title = "Book Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Book Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BindingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BindingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCopiesActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCopiesActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCopiesCurrent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCopiesCurrent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
